
global:
  networkPolicy:
    enabled: {{ .Values | get "global.networkPolicy.enabled" }}
  registry:
    imagePullPolicy: {{ .Values | get "global.registry.imagePullPolicy" }}
    pullSecret: {{ .Values | get "global.registry.pullSecret" }}
  security:
    tls:
      enabled: {{ .Values | get "global.security.tls.enabled" }}

registry:
  metrics:
    enabled: {{ .Values | get "eric-lcm-container-registry.registry.metrics.enabled" }}
  users:
    secret: {{ .Values | get "eric-lcm-container-registry.registry.users.secret" }}

brAgent:
  enabled: {{ .Values | get "eric-lcm-container-registry.brAgent.enabled" }}
ingress:
  enabled: {{ .Values | get "eric-lcm-container-registry.ingress.enabled" }}
  hostname: {{ .Values | get "eric-lcm-container-registry.ingress.hostname" }}
  useHttpProxy: {{ .Values | get "eric-lcm-container-registry.ingress.useHttpProxy" }}
  tls:
    secretName: {{ .Values | get "eric-lcm-container-registry.ingress.tls.secretName" }}
persistence:
  persistentVolumeClaim:
    size: {{ .Values | get "eric-lcm-container-registry.persistence.persistentVolumeClaim.size" }}
resources:
  registry:
    requests:
      memory: {{ .Values | get "eric-lcm-container-registry.resources.registry.requests.memory" }}
      cpu: {{ .Values | get "eric-lcm-container-registry.resources.registry.requests.cpu" }}
    limits:
      memory: {{ .Values | get "eric-lcm-container-registry.resources.registry.limits.memory" }}
      cpu: {{ .Values | get "eric-lcm-container-registry.resources.registry.limits.cpu" }}
  sidecar:
    requests:
      memory: {{ .Values | get "eric-lcm-container-registry.resources.sidecar.requests.memory" }}
      cpu: {{ .Values | get "eric-lcm-container-registry.resources.sidecar.requests.cpu" }}
    limits:
      memory: {{ .Values | get "eric-lcm-container-registry.resources.sidecar.limits.memory" }}
      cpu: {{ .Values | get "eric-lcm-container-registry.resources.sidecar.limits.cpu" }}
  init:
    requests:
      memory: {{ .Values | get "eric-lcm-container-registry.resources.init.requests.memory" }}
      cpu: {{ .Values | get "eric-lcm-container-registry.resources.init.requests.cpu" }}
    limits:
      memory: {{ .Values | get "eric-lcm-container-registry.resources.init.limits.memory" }}
      cpu: {{ .Values | get "eric-lcm-container-registry.resources.init.limits.cpu" }}