#  Note : These are the files that are zipped. Please list if any other openapi files need to be zipped.
#  documents name

documents:
  - name: eric-lcm-helm-executor
    files:
      - ../eric-lcm-helm-executor-service-api/src/main/resources/openapi.yaml
  - name: license-agreement
    files:
      - ../ci_config/fragments/license.agreement.json
  - name: user-guide
    files:
      - ../marketplace/user_guide/user_guide_template.md
      - ../marketplace/user_guide/eric-lcm-executor_architecture_overview.png
  - name: developers-guide
    files:
      - ../marketplace/developers_guide/developers_guide_template.md
      - ../marketplace/developers_guide/eric-lcm-executor_clone_project.png
      - ../marketplace/developers_guide/eric-lcm-executor_delete_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_instantiate_operation_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_instantiate_result_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_instantiate_via_hfb_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_instantiate_via_hfb_result_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_k8s-deployment-example.png
      - ../marketplace/developers_guide/eric-lcm-executor_k8s-deployment-update-example.png
      - ../marketplace/developers_guide/eric-lcm-executor_maven_build.png
      - ../marketplace/developers_guide/eric-lcm-executor_postman_values.png
      - ../marketplace/developers_guide/eric-lcm-executor_project_configuration.png
      - ../marketplace/developers_guide/eric-lcm-executor_reinstantiate_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_rollback_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_terminate_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_terminate_operation_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_terminate_result_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_update_after_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_update_example.png
      - ../marketplace/developers_guide/eric-lcm-executor_update_via_hfb_after_example.png
  - name: service-deployment-guide
    files:
      - ../marketplace/service_deployment_guide/eric-lcm-executor_deployment_overview.png
      - ../marketplace/service_deployment_guide/service_deployment_guide_template.md
#  - name: pri
#    files:
#      - ../doc/pri.md