model_version: 2.0
product_va_config:
    name: eric-lcm-helm-executor
    product_name: eric-lcm-helm-executor
    version: "{version}"
    va_template_version: 2.0.0
    description: "This service will accept Helmfile.tgz files and apply them to a target cluster. This results in one or more Helm releases installed on the cluster in one or more namespaces, in parallel/sequential groups. Helmfile leverages the helm-diff plugin to find out what Helm releases need to be updated and delegates the execution to Helm itself. To support legacy this service will also accept integration charts for those who haven't migrated to Helmfile yet"
    spoc: "Security Master: Olena Savinkova, Product Owner: Illia Korchan"
    images:
        - /eric-lcm-helm-executor:{version}
    mitigations:
        CVE-2010-0624:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-23471:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-1705:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-32148:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2002-0399:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-41717:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-21597:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2021-3521:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2013-4235:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-1962:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        XRAY-209897:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2002-2006:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2013-4590:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2005-4838:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2003-0045:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-24769:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2003-0043:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2009-2696:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2003-0042:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2002-1148:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2005-0808:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2000-0672:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2000-0760:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2020-8911:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2006-7196:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-36055:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2013-6357:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2001-0590:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2013-4286:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-31030:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2008-0128:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2013-4444:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2000-1210:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2007-2449:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-29526:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2013-4322:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2003-0044:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-21830:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-21835:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-25165:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-45154:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2022-3219:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-0475:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-24532:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-20861:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-25153:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-21939:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-21967:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-21954:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-28841:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2023-28842:
            mitigation: Vulnerability with Medium severity are handling as far as possible
        CVE-2016-1000027:
            mitigation: We are planning to update our components to new versions soon, which will automatically remove the vulnerability
            sce:
                sce-id: SCED-2023-000059
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-30631:
            mitigation: Fix of this vulnerability will be in 1.18.4 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-08-31T00:00:00Z
        CVE-2022-3479:
            mitigation: Fix of this vulnerability will be after 3.81 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
        CVE-2022-29804:
            mitigation: This vulnerability will be removed when MediaWiki updates its dependency to the fixed version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2022-30632:
            mitigation: This vulnerability will be removed when ION updates its dependency to the fixed version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-08-31T00:00:00Z
        CVE-2022-28948:
            mitigation: This vulnerability will be removed after updates its dependency to the fixed version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-10-25T00:00:00Z
        ApparmorAny:
            mitigation: It as option with possibility to enable/disable
            sce:
                sce-id: SCED-2022-000520
                status: Approved
        AppArmorAnnotationMissing-Deployment:
            mitigation: It as option with possibility to enable/disable
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-06-27T00:00:00Z
        CVE-2022-27664:
            mitigation: Fix of this vulnerability will be in 1.18.6 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2002-0493:
            mitigation: It’s affect versions of tomcat up to (including) 3.3.2, but we have v9.0.68
            sce:
                sce-id: SCED-2022-000520
                status: Approved
        CVE-2019-7620:
            mitigation: Fix of this vulnerability will be in 7.4.1 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-06-27T00:00:00Z
        CVE-2021-26291:
            mitigation: We are already using a repository manager and already defining mirrors for repositories in the maven settings file
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-08-31T00:00:00Z
        CVE-2022-32149:
            mitigation: Fix of this vulnerability will be in 0.3.8 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-08-31T00:00:00Z
        CVE-2022-28131:
            mitigation: Fix of this vulnerability will be in 1.18.4 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-08-31T00:00:00Z
        CVE-2013-2185:
            mitigation: It’s affect versions of tomcat up to (including) 7.0.39, but we have v9.0.68
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-06-27T00:00:00Z
        CVE-2009-3548:
            mitigation: It’s affect versions of tomcat up to (including) 6.0.20, but we have v9.0.68
            sce:
                sce-id: SCED-2022-000520
                status: Approved
        CVE-2022-27191:
            mitigation: Fix of this vulnerability will be in 0.0.0-20220314234659-1baeb1ce4c0b version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2022-23648:
            mitigation: Fix of this vulnerability will be in 1.6.1 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-06-27T00:00:00Z
        CVE-2019-17543:
            mitigation: Fix of this vulnerability will be in 1.9.2 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-06-27T00:00:00Z
        CVE-2022-21698:
            mitigation: Go will provide fix in 1.11.1 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-08-31T00:00:00Z
        CVE-2020-8022:
            mitigation: Fix of this vulnerability will be in 8.0.53-29.32.1 version
            sce:
                sce-id: SCED-2022-000520
                status: Approved
                expires: 2023-06-27T00:00:00Z
        CVE-2022-30633:
            mitigation: Go will provide fix in 1.18.4 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-30634:
            mitigation: Fix of this vulnerability will be in 1.18.3 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-41715:
            mitigation: Go will provide fix in 1.19.2 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-30630:
            mitigation: Go will provide fix in 1.18.4 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-41720:
            mitigation: Go will provide fix in 1.19.4 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        SeccompProfileMissing-Deployment:
            mitigation: This vulnerability will be removed after updates its dependency to the fixed version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-2880:
            mitigation: Go will provide fix in 1.19.2 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-30635:
            mitigation: Go will provide fix in 1.18.4 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-23525:
            mitigation: This vulnerability will be removed in 3.10.3 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-30580:
            mitigation: Go will provide fix of this vulnerability in 1.18.3 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-2879:
            mitigation: Go will provide fix in 1.19.2 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-32190:
            mitigation: Go will provide fix in 1.18.6 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-1471:
            mitigation: "Created story to fix https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/CAM-1489"
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-32189:
            mitigation: Go will provide fix in 1.18.5 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-41716:
            mitigation: Go will provide fix in 1.19.3 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-23526:
            mitigation: Fix of this vulnerability will be in 3.10.3 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-23521:
            mitigation: "Created story for investigate https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/CAM-1574"
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-41903:
            mitigation: "Created story for investigate https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/CAM-1574"
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2022-23491:
            mitigation: This vulnerability will be removed when Certifi updates its dependency to the fixed version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-09-30T00:00:00Z
        CVE-2022-41721:
            mitigation: Fix of this vulnerability will be in 2022-11-04 version
            sce:
                sce-id: SCED-2023-000080
                status: Approved
                expires: 2023-05-31T00:00:00Z
        CVE-2023-0687:
            mitigation: The real existence of this vulnerability is still doubted at the moment.
            sce:
                sce-id: SCED-2023-000233
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2022-48303:
            mitigation: This vulnerability will be removed when GNU updates its dependency to the fixed version(>1.34)
            sce:
                sce-id: SCED-2023-000233
                status: Approved
                expires: 2023-12-30T00:00:00Z
        CVE-2023-25193:
            mitigation: in HarfBuzz will provide fix 6.0.0 version
            sce:
                sce-id: SCED-2023-000233
                status: Approved
                expires: 2023-12-25T00:00:00Z
        CVE-2023-25173:
            mitigation: Containerd will provide fix in 1.6.18 version
            sce:
                sce-id: SCED-2023-000479
                status: Approved
                expires: 2023-10-20T00:00:00Z
        CVE-2022-41722:
            mitigation: Go will fix this vulnerability in 1.19.6 version
            sce:
                sce-id: SCED-2023-000479
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2022-41725:
            mitigation: Go will fix this vulnerability in 1.19.6 version
            sce:
                sce-id: SCED-2023-000479
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2022-41724:
            mitigation: Go will fix this vulnerability in 1.19.6 version
            sce:
                sce-id: SCED-2023-000479
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2022-41723:
            mitigation: Go will fix this vulnerability in 1.19.6 version
            sce:
                sce-id: SCED-2023-000479
                status: Approved
                expires: 2023-10-25T00:00:00Z
        CVE-2023-0464:
            mitigation: OpenSSL will fix this vulnerability in 3.1.1 version
            sce:
                sce-id: SCED-2023-000479
                status: Approved
                expires: 2023-10-25T00:00:00Z
